.App {
  text-align: center;
}

.main-content {
  transition: margin-left 0.3s;
  margin-left: 10vh; /* Set initial margin */
}

.sidebar-open .main-content {
  margin-left: 40vh; /* Adjust this value based on your sidebar width */
}

.sidebar-open {
  margin-left: 30vh; /* Adjust this value based on your sidebar width */
}
.buttonStyles {
  background-color: #e5e8ec;
  border-radius: 4px;
  color: #475f7b;
  cursor: pointer;
  padding: 10px 16px;
  width: 100%;
}
